<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Blog Home</title>
</head>
<body>
    <div class="main">
        <div class="main-header">
            <nav class="navbar">
                <div class="nav-wrapper blue-grey darken-1">
                    <div class="brand-logo nav-logo">
                        <a href="/"><i class="material-icons icon">casino</i></a>
                        <small><a href="/">5 Stack Blog</a></small>
                    </div>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down nav-items">
                        <li><a class="nav-item" href="/">Home</a></li>
                        <li><a class="nav-item" href="/new">New Blog</a></li>
                        <li><a class="nav-item" href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a class="nav-item" href="/">Home</a></li>
                <li><a class="nav-item" href="/new">New Blog</a></li>
                <li><a class="nav-item" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="cards container">
                <div>
                    <h2 class="headers">Blogs Home</h2>
                    <a href="/new" class="waves-effect waves-light btn #009688 teal">New Blog</a>
                </div>
                <% blogs.forEach(blog => { %>
                    <% if (blog) { %>
                    <div class="row card-container">
                        <div class="col s12">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text card-item">
                                    <h2 class="headers"><%= blog.title %></h2>
                                    <h6 class="subtitle"><%= blog.createdAt.toLocaleDateString() %></h6>
                                    <p class="card-text"><%= blog.description %></p>
                                    <p class="card-text"><%- blog.sanitizedHtml %></p>
                                    <div class="buttons">
                                        <a href="/blog/<%= blog.slug %>" class="waves-effect waves-light btn #009688 teal button">Read More</a>
                                        <a href="/edit/<%= blog.id %>" class="waves-effect waves-light btn #0277bd light-blue darken-3 button">Edit</a>
                                        <form action="/blog/<%= blog.id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="waves-effect waves-light btn #c62828 red darken-3 button">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="row card-container">
                        <div class="col s12">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text card-item">
                                    <p class="card-text">There are currently no blogs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        <footer class="footer">
            <a href="#" >5 Stack Blog</a> &copy 2021
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous"></script>  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
        });
    </script>
</body>
</html>